@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");
@-webkit-keyframes progressbar-countdown {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes progressbar-countdown {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
body {
  font-family: "Inter", sans-serif;
  color: #333333;
}
body a:hover {
  color: #333;
}
body .nav-link:hover {
  color: #333;
}
body._lock {
  overflow: hidden;
}

h2 {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.5px;
  font-weight: 700;
}
@media screen and (max-width: 770px) {
  h2 {
    font-size: 32px;
    line-height: 36px;
  }
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -2.5px;
  font-weight: 700;
  margin: 0;
}
@media screen and (max-width: 770px) {
  h3 {
    font-size: 24px;
    line-height: 28px;
  }
}

h4 {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  line-height: 35px;
  letter-spacing: -2.5px;
  font-weight: 700;
  margin: 0;
}

h5 {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -1px;
  font-weight: 700;
}

h6 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.75px;
  font-weight: 700;
}

._container {
  max-width: 1110px;
  margin: 0 auto;
  /* @media screen and (max-width: 991px) {
      max-width: 720px;
  } */
}
@media screen and (max-width: 1200px) {
  ._container {
    max-width: 90%;
  }
}

._text-display {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.75px;
  margin: 0;
}
@media screen and (max-width: 1030px) {
  ._text-display {
    font-size: 19px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.75px;
  }
}

._text-body {
  font-family: "Inter", sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.75px;
  margin: 0;
}
@media screen and (max-width: 770px) {
  ._text-body {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
  }
}

._text-body__compact {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  margin: 0;
}

._text-small {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  margin: 0;
}

._btn {
  background-color: #333333;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  border: 0px;
  border-radius: 0;
  padding: 14px 38px 14px 28px;
}
@media screen and (max-width: 770px) {
  ._btn {
    padding: 8px 26px 8px 21px;
  }
}
._btn._btn-yellow {
  background-color: #594d0e;
}
._btn._btn-blue {
  background-color: #0f4d58;
}
._btn._btn-green {
  background-color: #344d14;
}
._btn._btn-red {
  background-color: #561e1e;
}

.logo__wrapper {
  padding: 0;
  display: block;
  max-width: 225px;
}
@media screen and (max-width: 1030px) {
  .logo__wrapper {
    max-width: 200px;
  }
}

.logo {
  width: 100%;
  height: auto;
}

._scroll-to-top {
  color: #333;
  position: fixed;
  right: 3.5%;
  bottom: -100%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
  background: transparent;
  width: unset;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
._scroll-to-top._scroll-appear {
  bottom: 0%;
}
._scroll-to-top p {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 10px;
  padding: 3px 12px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.73);
}
@media (max-width: 587px) {
  ._scroll-to-top {
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
    width: 160px;
    right: 50%;
    background: #fff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  ._scroll-to-top p {
    margin: 0;
    padding: 8px 12px;
    border-radius: 0px;
    background: transparent;
    text-decoration: underline;
  }
  ._scroll-to-top svg {
    display: none;
  }
}

.header {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: rgb(255, 255, 255);
  padding: 20px 0 0px 0;
}
@media (max-width: 1200px) {
  .header {
    padding: 20px 0;
  }
}
.header._header__scroll {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  top: -50%;
}
.header__container {
  max-width: 100%;
}
@media (max-width: 1030px) {
  .header__container {
    max-width: unset;
    width: 90%;
  }
}
@media screen and (max-width: 1200px) {
  .header__content.col {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
}
.header__navbar {
  padding: 0;
}
.header__navbar a {
  color: inherit;
}
.header__logo__btn__wrapper {
  margin: auto 0;
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media screen and (max-width: 1030px) {
  .header__logo__btn__wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.header__logo__btn__wrapper.mt-3 {
  margin-top: 0 !important;
}
.btn__burger__wrapper {
  display: none;
}
@media (max-width: 1200px) {
  .btn__burger__wrapper {
    display: block;
    position: fixed;
    top: 30px;
    right: 6%;
    width: 50px;
    height: 50px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .btn__burger__wrapper._header__scroll {
    top: -50%;
  }
}

.btn__burger {
  position: relative;
  width: 100%;
  height: 100%;
  background: #F75555;
  border-radius: 50%;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.btn__burger:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn__burger:after, .btn__burger:before, .btn__burger span {
  position: absolute;
  left: 12px;
  content: "";
  height: 2px;
  width: 24px;
  background: rgba(51, 51, 51, 0.82);
  border-radius: 10px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.btn__burger span {
  top: 24px;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.btn__burger:after {
  top: 24px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.btn__burger:before {
  top: 24px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.btn__burger.collapsed {
  background: #FFD00D;
}
.btn__burger.collapsed span {
  top: 24px;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.btn__burger.collapsed:after {
  top: 33px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.btn__burger.collapsed:before {
  top: 15px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.btn__burger svg {
  width: 23px;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(6%, 63%);
          transform: translate(6%, 63%);
}
@media (max-width: 1200px) {
  .menu__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0 0 96px 0;
    -webkit-transform: translate(0px, 96px);
            transform: translate(0px, 96px);
  }
  .menu__wrapper.collapse:not(.show) {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease, height 0s ease 0s;
    transition: opacity 0.5s ease, height 0s ease 0s;
  }
  .menu__wrapper.collapsing {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease, height 0.5s ease 0s;
    transition: opacity 0.5s ease, height 0.5s ease 0s;
  }
  .menu__wrapper.show {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease, height 0s ease 0s;
    transition: opacity 0.5s ease, height 0s ease 0s;
  }
}

.menu__sub {
  font-size: 15px;
  line-height: 22px;
  padding: 0 150px 0 0;
  background: #fff;
}
.menu__sub__item {
  margin: 0 0 18px 0;
}
@media (max-width: 1200px) {
  .menu__sub__item {
    border-bottom: 1px solid #ccc;
  }
}
.menu__sub__item .nav-link {
  padding: 0 1rem;
}

.menu__main {
  background-color: #FFD00D;
  padding: 0px 150px 0px 66px;
  width: 100%;
  position: relative;
}
.menu__main::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -99%;
  background: #FFD00D;
  height: 100%;
  width: 100%;
}
@media (max-width: 1200px) {
  .menu__main {
    padding: 0;
    position: static;
  }
  .menu__main::before {
    display: none;
  }
}
.menu__main #navbarContent2 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media screen and (min-width: 1200px) {
  .menu__main #navbarContent2 .navbar-nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}
.menu__main__item {
  font-size: 15px;
  line-height: 22px;
  margin: 16px 0;
  font-weight: 700;
  color: #594d0e;
}
@media (max-width: 1200px) {
  .menu__main__item {
    font-weight: bold;
    color: #594d0e;
    border-bottom: 1px solid #594d0e;
  }
}
.menu__main__item .nav-link {
  padding: 0 1rem;
}

@media (max-width: 1350px) {
  .menu__sub, .menu__main {
    padding-right: 73px;
  }
}
@media (max-width: 1204px) {
  .menu__sub, .menu__main {
    padding-right: 55px;
  }
}
@media (max-width: 1200px) {
  .menu__sub, .menu__main {
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 1200px) {
  .menu__main__item, .menu__sub__item {
    margin: 0px 20px;
    padding: 15px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 16px;
  }
  .menu__main__item svg, .menu__sub__item svg {
    width: 8px;
    height: auto;
  }
  .menu__main__item .nav-link, .menu__sub__item .nav-link {
    padding: 0;
  }
  .menu__main__item:last-child, .menu__sub__item:last-child {
    border-bottom: 0px solid #000;
    border-bottom: 20px;
  }
}

@media (max-width: 1200px) {
  .menu__sub__item:first-child, .menu__main__item:first-child {
    padding-top: 20px;
  }
}

.btn__search__appear {
  border-top: 0;
  border-bottom: 0;
  font-size: 15px;
  line-height: 22px;
}
.btn__search__appear.btn {
  padding: 0 0.75rem;
}
.btn__search__appear .search-form__help__close {
  display: none;
}
.btn__search__appear[aria-expanded=true] .search-form__help__close {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: transparent;
}

.search-form {
  position: fixed;
  top: -100%;
  right: 0;
  width: 75%;
  height: 114px;
  background: #EFEFEF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 3;
}
.search-form.show {
  top: 0%;
}
@media (max-width: 1400px) {
  .search-form {
    width: 74.5%;
  }
}
@media (max-width: 1200px) {
  .search-form {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    position: static;
    background-color: transparent;
    height: unset;
  }
}
@media (max-width: 530px) {
  .search-form {
    width: 100%;
  }
}
.search-form__wrapper {
  padding: 0 95px;
  width: 100%;
}
@media (max-width: 1200px) {
  .search-form__wrapper {
    padding: 0;
  }
}
@media (max-width: 1200px) {
  .search-form__search__wrapper {
    padding: 0;
  }
}
@media (max-width: 1200px) {
  .search-form__btn__wrapper {
    padding: 0px;
  }
}
.search-form__btn {
  width: 100%;
  height: 100%;
  padding: unset;
}
@media (max-width: 430px) {
  .search-form__btn {
    width: 106px !important;
  }
}
.search-form__input {
  background: #EFEFEF;
  border-radius: 0;
  font-size: 22px;
  line-height: 35px;
  letter-spacing: -1.4px;
  padding-bottom: 1px;
}
@media (max-width: 1200px) {
  .search-form__input {
    font-size: 18px;
    padding: 7px 0 7px 18px;
  }
  .search-form__input:focus {
    background: #EFEFEF;
    border-color: rgb(51, 51, 51);
    -webkit-box-shadow: 0 0 0 0 rgba(51, 51, 51, 0.25);
            box-shadow: 0 0 0 0 rgba(51, 51, 51, 0.25);
  }
}
.search-form__input:focus {
  background: #EFEFEF;
  border-color: rgb(51, 51, 51);
  -webkit-box-shadow: 0 0 0 0.2rem rgba(51, 51, 51, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(51, 51, 51, 0.25);
}

.main {
  height: 735px;
  padding: 75px 0 85px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-color: #333;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}
@media (max-width: 770px) {
  .main {
    padding: 20px 0;
  }
}
@media (max-width: 576px) {
  .main {
    padding: 0;
    margin: 28px 0 0 0;
    height: unset;
  }
}
.main.main-section {
  margin: 113px 0 0 0;
}
@media (max-width: 1200px) {
  .main.main-section {
    margin: 105px 0 0 0;
  }
}
.main__container {
  height: 100%;
  padding: 0;
  max-width: 1350px;
}
@media (max-width: 1400px) {
  .main__container {
    max-width: 1140px;
  }
}
@media (max-width: 1200px) {
  .main__container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .main__container {
    max-width: 720px;
  }
}
@media (max-width: 768px) {
  .main__container {
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .main__container {
    margin: 0;
    padding: 0;
  }
  .main__container.container-sm {
    max-width: unset;
  }
}
.main__content {
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
@media (max-width: 576px) {
  .main__content {
    width: 100%;
  }
}
.main__info__container {
  z-index: 3;
  max-width: 470px;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1200px) {
  .main__info__container {
    max-width: 450px;
  }
}
@media screen and (max-width: 770px) {
  .main__info__container {
    max-width: unset;
    height: unset;
  }
}

@media (max-width: 576px) {
  .accordion-pictures {
    display: none;
  }
}
.accordion-pictures__item.show-accordion-picture .accordion-pictures__img {
  opacity: 1;
}
.accordion-pictures__item.show-accordion-picture .workforce__inscription {
  opacity: 1;
}
.accordion-pictures__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.accordion-info__link {
  color: rgba(51, 51, 51, 0.82);
  font-size: 19px;
}
.accordion-info .accordion-item .accordion-body {
  padding: 20px 45px 40px;
}
@media (max-width: 576px) {
  .accordion-info .accordion-item .accordion-body {
    padding: 20px 25px 40px;
  }
}
.accordion-info .accordion-item .accordion-body p {
  margin-bottom: 40px;
}
.accordion-info .accordion-item:nth-child(1) {
  background: #2ADDFD;
}
.accordion-info .accordion-item:nth-child(1) .accordion-info__title__btn {
  border-color: #0f4d58;
  color: #0f4d58;
}
.accordion-info .accordion-item:nth-child(2) {
  background: #96DD39;
}
.accordion-info .accordion-item:nth-child(3) {
  background: #F75555;
}
.accordion-info .accordion-item:nth-child(4) {
  background: #FFD00D;
}
@media (max-width: 576px) {
  .accordion-info__extra__picture {
    width: 100%;
    padding-bottom: 220px;
    position: relative;
    z-index: 1;
  }
  .accordion-info__extra__picture.collapse:not(.show) {
    opacity: 0;
    -webkit-transition: opacity 0.2s ease, height 0.5s;
    transition: opacity 0.2s ease, height 0.5s;
  }
  .accordion-info__extra__picture.collapsing {
    opacity: 0;
    -webkit-transition: opacity 0.2s ease, height 0.5s;
    transition: opacity 0.2s ease, height 0.5s;
  }
  .accordion-info__extra__picture.show {
    opacity: 1;
    -webkit-transition: opacity 0.2s ease, height 0s;
    transition: opacity 0.2s ease, height 0s;
  }
}
@media (max-width: 576px) {
  .accordion-info__extra__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
.accordion-info__header {
  padding: 0px 45px;
  cursor: pointer;
}
@media (max-width: 576px) {
  .accordion-info__header {
    padding: 0 25px;
  }
}
.accordion-info__open__btn {
  width: 70px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  pointer-events: none;
}
@media (max-width: 576px) {
  .accordion-info__open__btn {
    width: 16px;
  }
}
.accordion-info__open__btn.accordion-button:not(.collapsed) {
  background-color: transparent;
}
.accordion-info__open__btn::after {
  display: none;
}
.accordion-info__open__btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.accordion-info__title__btn {
  width: unset;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: -1.5px;
  font-weight: bold;
  color: rgba(51, 51, 51, 0.829);
  border: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: transparent;
  padding: 0;
  pointer-events: none;
}
.accordion-info__title__btn .progressbar {
  display: none;
  width: 100%;
  height: 2px;
  background-color: rgba(51, 51, 51, 0.82);
  -webkit-animation: progressbar-countdown;
          animation: progressbar-countdown;
  /* Placeholder, this will be updated using javascript */
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  /* We stop in the end */
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  /* Stay on pause when the animation is finished finished */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  /* We start paused, we start the animation using javascript */
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  /* We want a linear animation, ease-out is standard */
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.accordion-info__title__btn::after {
  display: none;
}
.accordion-info__title__btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.accordion-info__title__btn[aria-expanded=false] {
  color: rgba(51, 51, 51, 0.829);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.accordion-info__title__btn[aria-expanded=true] {
  color: rgba(51, 51, 51, 0.829);
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.accordion-info__title__btn[aria-expanded=true] .progressbar {
  display: block;
  margin: 38px 0 34px;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.accordion-info__title__btn[aria-expanded=true] ~ .accordion-info__open__btn {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: none;
}
@media (max-width: 576px) {
  .accordion-info__title__btn {
    font-size: 18px;
    line-height: 36px;
    letter-spacing: -1.5px;
  }
}
.accordion-info__body__btn {
  /* padding: 1rem 1.5rem; */
}

.workforce {
  padding: 70px 0;
  height: 670px;
}
@media screen and (max-width: 576px) {
  .workforce {
    height: unset;
    margin: 0;
    padding: 0;
  }
}
.workforce__inscription {
  opacity: 0;
  font-size: 100px;
  letter-spacing: -0.75px;
  line-height: 27px;
  font-weight: 700;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  z-index: 4;
  top: 51.5%;
  left: 33.9%;
}
@media screen and (max-width: 1030px) {
  .workforce__inscription {
    top: 51.5%;
    left: 26.9%;
  }
}
@media screen and (max-width: 920px) {
  .workforce__inscription {
    display: none;
  }
}
.workforce__inscription__mob {
  font-size: 50px;
  letter-spacing: -0.75px;
  line-height: 27px;
  font-weight: 700;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  z-index: 4;
  top: 50%;
  left: 50%;
}
.workforce .accordion-info__btn__container {
  width: 100%;
}
.workforce .accordion-info__body__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 197px;
          flex: 0 0 197px;
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  .workforce .accordion-info__body__btn {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    width: 179px;
  }
}

.why {
  padding: 65px 0;
  position: relative;
  z-index: 2;
  background: url("../assets/img/why-bg.png") 0 0/auto 100% no-repeat;
  /* &__bg {

      img{
          position: absolute;

          top: 0;
          left: 0;
          width: 42.36%;
          object-fit: cover;
          //width: 100%;
          height: 100%;
          z-index: -1;
      }
  } */
}
@media (max-width: 768px) {
  .why {
    background: url("../assets/img/why-bg-mob.png") 50% 0%/100% auto no-repeat;
    padding: 70px 0 55px 0;
  }
}
.why__picture__container {
  position: relative;
  margin-left: 68px;
}
@media (max-width: 1030px) {
  .why__picture__container {
    margin-left: 88px;
  }
}
@media (max-width: 991px) {
  .why__picture__container {
    margin-left: 0px;
  }
}
@media (max-width: 768px) {
  .why__picture__container {
    margin-bottom: 60px;
  }
}
.why__picture {
  max-width: 255px;
}
.why__picture svg {
  width: 100%;
  height: auto;
}
.why__text__wrapper {
  width: 50.36%;
}
@media (max-width: 1024px) {
  .why__text__wrapper {
    width: 56.36%;
  }
}
@media (max-width: 768px) {
  .why__text__wrapper {
    width: 100%;
  }
}
.why__main__text {
  margin-bottom: 25px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.why__main__text:after {
  content: "";
  display: block;
  width: 87px;
  height: 2px;
  background: #EFEFEF;
  margin-top: 21px;
}
.why__subtitle {
  font-size: 16px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.7px;
}
@media screen and (max-width: 1030px) {
  .why__subtitle {
    line-height: 27px;
  }
}

.colored__red {
  background-color: #F75555;
}
.colored__red .colored__title {
  color: #561e1e;
}
.colored__red .colored__looking__for {
  color: #561e1e;
}
.colored__red .colored__looking__for {
  color: #561e1e;
}

.colored__blue {
  background-color: #2ADDFD;
}
.colored__blue .colored__title {
  color: #0f4d58;
}
.colored__blue .colored__looking__for {
  color: #0f4d58;
}
.colored__blue .colored__looking__for {
  color: #0f4d58;
}

.colored__green {
  background-color: #96DD39;
}
.colored__green .colored__title {
  color: #344d14;
}
.colored__green .colored__looking__for {
  color: #344d14;
}
.colored__green .colored__looking__for {
  color: #344d14;
}

.colored__yellow {
  background-color: #FFD00D;
}
.colored__yellow .colored__title {
  color: #594d0e;
}
.colored__yellow .colored__looking__for {
  color: #594d0e;
}
.colored__yellow .colored__looking__for {
  color: #594d0e;
}

.growing-for-good .colored__center__title {
  font-size: 100px;
}
@media (max-width: 1200px) {
  .growing-for-good .colored__center__title {
    font-size: 85px;
    line-height: 76px;
  }
}
@media (max-width: 991px) {
  .growing-for-good .colored__center__title {
    font-size: 48px;
    line-height: 48px;
  }
}
.growing-for-good .colored__content {
  margin-left: auto;
}
.growing-for-good .colored__content__wrapper {
  width: 62.3%;
  margin: 0 29px 0 auto;
}
@media screen and (max-width: 1200px) {
  .growing-for-good .colored__content__wrapper {
    margin: 0 0 0 auto;
    width: 67.3%;
  }
}
@media (max-width: 991px) {
  .growing-for-good .colored__content__wrapper {
    width: 100%;
    margin-left: auto;
  }
}
.growing-for-good .colored__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 164px;
          flex: 0 0 164px;
  padding: 14px 33px 14px 33px;
}
@media screen and (max-width: 770px) {
  .growing-for-good .colored__btn {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    padding: 8px 17px 8px 16px;
  }
}
.growing-for-good .colored__looking__for {
  text-align: left;
}

.colored {
  overflow: hidden;
}
.colored.colored__reverse .colored__center__block {
  left: 48.5%;
}
@media (max-width: 1200px) {
  .colored.colored__reverse .colored__center__block {
    left: 45%;
  }
}
@media (max-width: 991px) {
  .colored.colored__reverse .colored__center__block {
    left: 50%;
    top: 320px;
  }
}
.colored.colored__reverse .colored__content {
  margin-left: auto;
}
.colored.colored__reverse .colored__img__wrapper {
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}
@media (max-width: 991px) {
  .colored.colored__reverse .colored__img__wrapper {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
}
.colored__center__block {
  z-index: 3;
  top: 50%;
  left: 50%;
  width: 255px;
  height: 255px;
  background: #2ADDFD;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #0F4D58;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 27px;
}
@media (max-width: 1200px) {
  .colored__center__block {
    width: 210px;
    height: 210px;
    padding: 27px;
    left: 55%;
  }
}
@media (max-width: 991px) {
  .colored__center__block {
    width: 118px;
    height: 118px;
    padding: 17px 9px;
    left: 50%;
    top: 320px;
  }
}
.colored__center__title {
  font-size: 110px;
  line-height: 100px;
  letter-spacing: -2.5px;
}
@media (max-width: 1200px) {
  .colored__center__title {
    font-size: 85px;
    line-height: 65px;
  }
}
@media (max-width: 991px) {
  .colored__center__title {
    font-size: 48px;
    line-height: 48px;
  }
}
.colored__center__subtitle {
  font-size: 32px;
  letter-spacing: -2.5px;
  line-height: 35px;
}
@media (max-width: 1200px) {
  .colored__center__subtitle {
    font-size: 30px;
  }
}
@media (max-width: 991px) {
  .colored__center__subtitle {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -1.5px;
  }
}
.colored__wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
@media (max-width: 991px) {
  .colored__wrapper {
    padding: 75px 0 35px 0;
  }
}
.colored__content {
  width: 50%;
}
@media (max-width: 1200px) {
  .colored__content {
    width: 58%;
  }
}
@media (max-width: 991px) {
  .colored__content {
    width: 100%;
    margin-left: auto;
  }
}
.colored__content__wrapper {
  width: 65.3%;
}
@media (max-width: 1200px) {
  .colored__content__wrapper {
    width: 67.3%;
  }
}
@media (max-width: 991px) {
  .colored__content__wrapper {
    width: 100%;
    margin-left: auto;
  }
}
.colored__title {
  margin-bottom: 16px;
}
@media (max-width: 770px) {
  .colored__title {
    margin-bottom: 23px;
  }
}
.colored__text {
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  .colored__text {
    margin-bottom: 46px;
  }
}
@media (max-width: 770px) {
  .colored__text {
    margin-bottom: 13px;
  }
}
.colored__btns__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.colored__btn {
  margin-right: 10px;
}
.colored__looking__for {
  background: transparent;
  border: 0;
  font-size: 19px;
  line-height: 22px;
  margin-right: 9px;
}
@media (max-width: 770px) {
  .colored__looking__for {
    font-size: 16px;
    margin-right: 0;
  }
}
.colored__img__wrapper {
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  padding-bottom: 549px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50vw;
          flex: 0 0 50vw;
}
@media (max-width: 1200px) {
  .colored__img__wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 43vw;
            flex: 0 0 43vw;
  }
}
@media (max-width: 991px) {
  .colored__img__wrapper {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    width: 100%;
    padding-bottom: 320px;
  }
}
.colored__img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0%;
  right: 0%;
}
@media (max-width: 991px) {
  .colored__img {
    position: absolute;
    max-width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.announcements {
  margin: 63px 0 75px 0;
}
@media screen and (max-width: 1100px) {
  .announcements {
    margin: 50px 0 70px;
  }
}
@media screen and (max-width: 770px) {
  .announcements {
    margin: 27px 0 44px;
  }
}

.announcements-content__title {
  text-align: center;
  margin-bottom: 36px;
}
.announcements-content__slider__container {
  margin-bottom: 64px;
}
@media screen and (max-width: 910px) {
  .announcements-content__slider__container {
    margin-bottom: 0;
  }
}
.announcements-content__label__list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 720px) {
  .announcements-content__label__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.announcements-content__label {
  max-width: 187px;
  margin-right: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 720px) {
  .announcements-content__label {
    margin: 0px 10px 20px 10px;
    max-width: 120px;
  }
}
.announcements-content__label:last-child {
  margin: 0px;
}
.announcements-content__label img {
  width: 100%;
  height: auto;
}

.carousel-announcements__item {
  height: auto;
}
.carousel-announcements__item .carousel-announcements__card {
  border: none;
  background-color: #EFEFEF;
  padding: 25px 20px 30px;
  border-radius: 0%;
  height: 100%;
}
.carousel-announcements__title {
  color: #333;
  font-size: 16px;
  margin-bottom: 30px;
}
.carousel-announcements__text {
  color: #000;
  margin-bottom: 30px;
}
.carousel-announcements__links__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.carousel-announcements__link {
  color: #0F4D58;
  text-decoration: underline;
}
.carousel-announcements__indicator__container {
  position: static;
  max-width: 50px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}
@media screen and (max-width: 910px) {
  .carousel-announcements__indicator__container {
    margin: 20px auto 50px auto;
  }
}
@media screen and (max-width: 749px) {
  .carousel-announcements__indicator__container {
    max-width: 80px;
  }
}
.carousel-announcements__indicator {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  background: #999999;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1 !important;
}
.carousel-announcements__indicator.swiper-pagination-bullet-active {
  background: #F75555;
}

.carousel-indicators li {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #999999;
  background-color: #999999;
  border: 0px solid #fff;
  border-radius: 10px;
  margin: 2px;
  position: relative;
  top: 45px;
}
.carousel-indicators li.active {
  background: #F75555;
}

.phx {
  margin: 75px 0;
}
@media screen and (max-width: 1200px) {
  .phx {
    margin: 70px 0;
  }
}
@media screen and (max-width: 770px) {
  .phx {
    margin: 60px 0;
  }
}

.phx-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 770px) {
  .phx-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 600px) {
  .phx-content {
    width: 100%;
  }
}
.phx-content__media__container {
  margin-bottom: 0px;
  width: 58%;
}
@media screen and (max-width: 770px) {
  .phx-content__media__container {
    margin: 0 auto;
    margin-bottom: 25px;
    width: 100%;
  }
}
.phx-content__video {
  height: 360px;
}
@media screen and (max-width: 1200px) {
  .phx-content__video {
    height: 300px;
  }
}
@media screen and (max-width: 770px) {
  .phx-content__video {
    height: 250px;
  }
}
.phx-content__video iframe {
  width: 100%;
  height: 100%;
}
.phx-content__media__info {
  background-color: #FFD00D;
  text-align: left;
  color: #594d0e;
  font-weight: bold;
  padding: 30px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1200px) {
  .phx-content__media__info {
    padding: 25px 38px;
  }
}
@media screen and (max-width: 770px) {
  .phx-content__media__info {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.phx-content__big__subtitle {
  font-size: 100px;
  letter-spacing: -2.5px;
  line-height: 55px;
  margin: 0;
  margin-right: 6px;
}
@media screen and (max-width: 1200px) {
  .phx-content__big__subtitle {
    font-size: 84px;
    line-height: 46px;
  }
}
@media screen and (max-width: 770px) {
  .phx-content__big__subtitle {
    font-size: 48px;
    margin-right: 0;
    margin-bottom: 3px;
  }
}
.phx-content__small__subtitle {
  font-size: 40px;
  letter-spacing: -2.5px;
  line-height: 43px;
}
@media screen and (max-width: 1200px) {
  .phx-content__small__subtitle {
    font-size: 33px;
    line-height: 35px;
  }
}
@media screen and (max-width: 770px) {
  .phx-content__small__subtitle {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.5px;
  }
}
@media screen and (max-width: 600px) {
  .phx-content__small__subtitle {
    max-width: 150px;
  }
}
.phx-content__text__container {
  max-width: 350px;
  margin-left: 20px;
}
@media screen and (max-width: 1200px) {
  .phx-content__text__container {
    max-width: 361px;
  }
}
@media screen and (max-width: 770px) {
  .phx-content__text__container {
    max-width: unset;
    margin-left: 0;
  }
}
.phx-content__title {
  margin-bottom: 25px;
}
.phx-content__text {
  margin-bottom: 35px;
}
.phx-content__btn {
  padding: 15px 30px 15px 30px;
  width: 184px;
}

.news {
  padding: 75px 0px;
  position: relative;
  z-index: 2;
  background-color: #fff;
}
@media screen and (max-width: 1200px) {
  .news {
    padding: 64px 0px;
  }
}
@media screen and (max-width: 770px) {
  .news {
    padding: 55px 0px 40px;
  }
}

.news-content__header {
  margin-bottom: 50px;
}
@media screen and (max-width: 1200px) {
  .news-content__header {
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 770px) {
  .news-content__header {
    margin-bottom: 30px;
  }
}
.news-content__title {
  margin: 0;
}
@media screen and (max-width: 1200px) {
  .news-content__title {
    font-size: 32px;
    line-height: 36px;
  }
}
@media screen and (max-width: 770px) {
  .news-content__title {
    margin-bottom: 14px;
  }
}
.news-content__btn {
  width: 146px;
}
@media screen and (max-width: 770px) {
  .news-content__btn {
    width: 137px;
  }
}
.news-content__cards__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 910px) {
  .news-content__cards__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 770px) {
  .news-content__cards__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 70%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 520px) {
  .news-content__cards__list {
    width: 100%;
  }
}

.card {
  border: none;
  width: 31.5%;
  margin: 0;
  background-color: #EFEFEF;
  border-radius: 0%;
}
@media screen and (max-width: 910px) {
  .card {
    width: 45%;
    margin-bottom: 30px;
  }
  .card:first-child {
    margin-right: 30px;
  }
  .card:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 770px) {
  .card {
    width: 100%;
  }
  .card:first-child {
    margin-right: 0px;
  }
}
.card:last-child {
  margin-bottom: 0;
}
.card .card__img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 30px;
}
@media screen and (max-width: 1200px) {
  .card .card__img {
    height: 160px;
  }
}
.card .card-body {
  padding: 0 25px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.card .card-body .card-title {
  font-size: 19px;
  letter-spacing: -0.75px;
  line-height: 27px;
  margin-bottom: 15px;
}
.card .card-body .card-text {
  color: #000;
  margin-bottom: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.card .card-body .card__link {
  color: #0F4D58;
  text-decoration: underline;
}

.footer {
  overflow: hidden;
  background: #EFEFEF;
  padding-bottom: 60px;
}
@media screen and (max-width: 1030px) {
  .footer .footer__container {
    max-width: unset;
    width: 90%;
  }
}
@media screen and (max-width: 910px) {
  .footer .footer__container {
    width: 100%;
    padding: 0;
  }
}
.footer .footer__logo__container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 225px;
          flex: 0 0 225px;
  margin-right: 60px;
}
@media screen and (max-width: 1150px) {
  .footer .footer__logo__container {
    margin-right: 30px;
  }
}
@media screen and (max-width: 910px) {
  .footer .footer__logo__container {
    margin-right: 0px;
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    width: 225px;
    margin: 30px 0;
  }
}
.footer .footer__logo__wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}

.logo__wrapper {
  width: 100%;
  margin: 0;
}

.logo {
  width: 100%;
  height: auto;
}

.footer__content__container {
  width: 100%;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 910px) {
  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer-content__menu__wrapper {
  background-color: #FFD00D;
  padding: 18px 100px 18px 83px;
  position: relative;
}
@media screen and (max-width: 1350px) {
  .footer-content__menu__wrapper {
    padding: 18px 15px 18px 83px;
  }
}
@media screen and (max-width: 1240px) {
  .footer-content__menu__wrapper {
    padding: 18px 15px;
  }
}
@media screen and (max-width: 910px) {
  .footer-content__menu__wrapper {
    width: 100%;
  }
}
.footer-content__menu__wrapper::before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0px;
  left: 99%;
  background: #FFD00D;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 910px) {
  .footer-content__menu__wrapper::before {
    display: none;
  }
}
.footer-content__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 910px) {
  .footer-content__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 30px;
    max-width: 90%;
    margin: 0 auto;
  }
}
.footer-content__menu__list {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1240px) {
  .footer-content__menu__list {
    width: 45%;
  }
}
@media screen and (max-width: 1035px) {
  .footer-content__menu__list {
    width: 51%;
  }
}
@media screen and (max-width: 910px) {
  .footer-content__menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    width: 100%;
    margin-bottom: 30px;
  }
}
.footer-content__menu__list .footer-content__menu__item {
  font-size: 15px;
  line-height: 22px;
  margin: 0;
  font-weight: 700;
  color: #594d0e;
}
@media screen and (max-width: 910px) {
  .footer-content__menu__list .footer-content__menu__item {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #594d0e;
  }
  .footer-content__menu__list .footer-content__menu__item:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border: 0;
  }
}
.footer-content__menu__list .footer-content__menu__item .nav-link {
  color: inherit;
  padding: 0 1rem;
}
.footer-content-social {
  width: 234px;
}
.footer-content__copyright__container {
  padding-left: 95px;
  margin-top: 30px;
  font-size: 14px;
  line-height: 22px;
}
@media screen and (max-width: 1240px) {
  .footer-content__copyright__container {
    padding-left: 0px;
  }
}
@media screen and (max-width: 910px) {
  .footer-content__copyright__container {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    width: 100%;
  }
}