@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");
body {
  font-family: "Inter", sans-serif;
  color: #333333;
}
body a:hover {
  color: #333;
}
body .nav-link:hover {
  color: #333;
}
body._lock {
  overflow: hidden;
}

._container {
  max-width: 90%;
  margin: auto;
}

.logo__wrapper {
  padding: 0;
}

.logo {
  width: 225px;
  height: auto;
}

._btn-default {
  background: rgba(51, 51, 51, 0.82);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  border: 0px;
  border-radius: 0;
}

._scroll-to-top {
  color: #333;
  position: fixed;
  right: 3.5%;
  bottom: -100%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
  background: transparent;
  width: unset;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
._scroll-to-top._scroll-appear {
  bottom: 0%;
}
._scroll-to-top p {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 10px;
  padding: 3px 12px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.73);
}
@media (max-width: 587px) {
  ._scroll-to-top {
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
    width: 160px;
    right: 50%;
    background: #fff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  ._scroll-to-top p {
    margin: 0;
    padding: 8px 12px;
    border-radius: 0px;
    background: transparent;
    text-decoration: underline;
  }
  ._scroll-to-top svg {
    display: none;
  }
}

.header {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: white;
  padding: 20px 0 0px 0;
}
.header._header__scroll {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  top: -50%;
}
.header__navbar {
  padding: 0;
}
.header__navbar a {
  color: inherit;
}
.header__logo__btn__wrapper {
  margin-bottom: 20px;
}
.menu__sub {
  padding: 0;
  background: #fff;
}
.menu__sub__item {
  margin: 0 0 18px 0;
}

.menu__main {
  background: #FFD00D;
  padding: 0px 0 0px 66px;
}
.menu__main__item {
  margin: 18px 0;
}

.search-form__wrapper {
  width: 100%;
}
.search-form__btn {
  width: 100%;
  height: 100%;
}
.search-form__input {
  background: #EFEFEF;
  border-radius: 0;
  font-size: 22px;
  padding-bottom: 1px;
}
.search-form__input:focus {
  background: #EFEFEF;
  border-color: #333333;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(51, 51, 51, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(51, 51, 51, 0.25);
}

.main {
  padding: 75px 0 27px 0;
}
.accordion-pictures__wrapper {
  width: 100%;
  padding-bottom: 324px;
  position: relative;
  z-index: 1;
}
.accordion-pictures__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.accordion-info__link {
  color: rgba(51, 51, 51, 0.82);
  font-size: 19px;
}
.accordion-info .accordion-item .accordion-body {
  padding-bottom: 40px;
}
.accordion-info .accordion-item .accordion-body p {
  margin-bottom: 40px;
}
.accordion-info .accordion-item:nth-child(1) {
  background: #2ADDFD;
}
.accordion-info .accordion-item:nth-child(2) {
  background: #96DD39;
}
.accordion-info .accordion-item:nth-child(3) {
  background: #F75555;
}
.accordion-info .accordion-item:nth-child(4) {
  background: #FFD00D;
}
.accordion-info__header {
  padding: 1rem 1.25rem;
}
.accordion-info__open__btn {
  width: 70px;
  background: transparent;
  display: block;
}
.accordion-info__open__btn::after {
  display: none;
}
.accordion-info__open__btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.accordion-info__open__btn[aria-expanded=true] {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: none;
}
.accordion-info__title__btn {
  width: unset;
  font-size: 22px;
  font-weight: bold;
  color: rgba(51, 51, 51, 0.829);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: transparent;
  padding: 0;
}
.accordion-info__title__btn::after {
  display: none;
}
.accordion-info__title__btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.accordion-info__title__btn[aria-expanded=false] {
  color: rgba(51, 51, 51, 0.829);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.accordion-info__title__btn[aria-expanded=true] {
  color: rgba(51, 51, 51, 0.829);
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 48px;
  width: 100%;
  border-top: 3px solid rgba(51, 51, 51, 0.82);
  padding-top: 38px;
  margin-top: 34px;
}
.accordion-info__body__btn {
  padding: 1rem 1.5rem;
}

.workforce {
  padding: 75px 0 27px 0;
}
.workforce .accordion-info__btn__container {
  width: 100%;
}
.workforce .accordion-pictures__wrapper {
  width: 100%;
  padding-bottom: 324px;
  position: relative;
  z-index: 1;
}
.workforce .accordion-pictures__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.why {
  padding: 65px 0;
  position: relative;
  z-index: 2;
  background: url("../assets/img/why-bg.png") 0 0/auto 100% no-repeat;
  /* &__bg {

      img{
          position: absolute;

          top: 0;
          left: 0;
          width: 42.36%;
          object-fit: cover;
          //width: 100%;
          height: 100%;
          z-index: -1;
      }
  } */
}
.why__picture__container {
  position: relative;
}
.why__picture {
  max-width: 255px;
}
.why__picture svg {
  width: 100%;
  height: auto;
}
.why__main__text {
  padding-bottom: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.why__main__text:after {
  content: "";
  display: block;
  width: 87px;
  height: 2px;
  background: #EFEFEF;
  margin-top: 15px;
}
.designed-for-work {
  background: #F75555;
}

.growing-for-good {
  background: #96DD39;
  overflow: hidden;
}
.growing-for-good .colored__center__block {
  top: 50%;
  left: 50.5%;
}
.growing-for-good .colored__center__title {
  font-size: 100px;
}
.growing-for-good .colored__img__wrapper {
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.growing-for-good .colored__content {
  width: 50%;
  margin-left: auto;
}
.growing-for-good .colored__content__wrapper {
  width: 69.3%;
  margin-left: auto;
}
.growing-for-good .colored__title {
  color: #344D14;
}
.growing-for-good .colored__looking__for {
  background: transparent;
  border: 0;
  font-size: 19px;
  color: #344D14;
}

.colored__center__block {
  z-index: 3;
  top: 50%;
  left: 51.5%;
  width: 255px;
  height: 255px;
  background: #2ADDFD;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #0F4D58;
}
.colored__center__title {
  font-size: 110px;
}
.colored__center__subtitle {
  font-size: 32px;
}
.colored__wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.colored__content {
  width: 50%;
}
.colored__content__wrapper {
  width: 69.3%;
}
.colored__title {
  font-size: 48px;
  color: #561E1E;
}
.colored__text {
  font-size: 19px;
}
.colored__btns__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.colored__btn {
  padding: 0.75rem 1.25rem;
}
.colored__looking__for {
  background: transparent;
  border: 0;
  font-size: 19px;
  color: #561E1E;
}
.colored__img__wrapper {
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  padding-bottom: 549px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc((100vw *0.5));
          flex: 0 0 calc((100vw *0.5));
}
.colored__img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0%;
  right: 0%;
}

.announcements {
  margin: 27px 0 44px 0;
}

.announcements-content__title {
  text-align: center;
}
.announcements-content__label__list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.announcements-content__label {
  max-width: 127px;
  margin: 0px 10px 20px 10px;
}
.announcements-content__label:last-child {
  margin: 0px;
}
.announcements-content__label img {
  width: 100%;
  height: auto;
}

.carousel-announcements__item {
  margin-bottom: 20px;
}
.carousel-announcements__item .card {
  border: none;
  margin: 0.5rem;
  background: #EFEFEF;
  font-size: 16px;
  padding: 0.5rem;
  border-radius: 0%;
  height: 100%;
}
.carousel-announcements__title {
  color: #333;
  font-size: 16px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.carousel-announcements__text {
  color: #000;
  margin-bottom: 1.5rem;
}
.carousel-announcements__links__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 1.5rem;
}
.carousel-announcements__link {
  color: #0F4D58;
  text-decoration: underline;
}
.carousel-announcements__indicator__container {
  width: 86px !important;
  margin: 0 auto 50px auto !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}
.carousel-announcements__indicator {
  width: 16px !important;
  height: 16px !important;
  border-radius: 50% !important;
  border: none !important;
  background: #999999 !important;
  -webkit-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
  opacity: 1 !important;
}
.carousel-announcements__indicator.active {
  background: #F75555 !important;
}

.carousel-indicators li {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #999999;
  background-color: #999999;
  border: 0px solid #fff;
  border-radius: 10px;
  margin: 2px;
  position: relative;
  top: 45px;
}
.carousel-indicators li.active {
  background: #F75555;
}

.phx {
  margin: 55px 0;
}

.phx-content__media__container {
  margin-bottom: 25px;
}
.phx-content__video iframe {
  width: 100%;
  height: 250px;
}
.phx-content__media__info {
  background: #FFD00D;
  text-align: center;
  color: #594D0E;
  font-weight: bold;
  padding: 30px 60px;
  -webkit-transform: translate(0px, -6px);
          transform: translate(0px, -6px);
}
.phx-content__big__subtitle {
  font-size: 48px;
}
.phx-content__small__subtitle {
  font-size: 18px;
}
.phx-content__title {
  font-size: 32px;
  margin-bottom: 25px;
}
.phx-content__text {
  font-size: 16px;
  margin-bottom: 35px;
}
.phx-content__btn {
  background: #333;
  padding: 0.5rem 1rem;
  min-width: 146px;
}

.news {
  margin: 64px 0 40px 0;
}

.news-content__header {
  margin-bottom: 30px;
}
.news-content__title {
  font-size: 32px;
  margin-bottom: 1rem;
}
.news-content__btn {
  min-width: 146px;
  background: #333;
  padding: 0.5rem 1rem;
}
.card {
  border: none;
  margin: 0.25rem 0.25rem 30px 0.25rem;
  background: #EFEFEF;
  font-size: 16px;
  border-radius: 0%;
}
.card:last-child {
  margin-bottom: 0;
}
.card .card__img {
  width: 100%;
  height: 166px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 30px;
}
.card .card-body {
  padding: 0 1rem 1.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.card .card-body .card-title {
  font-size: 19px;
  margin-bottom: 15px;
}
.card .card-body .card-text {
  color: #000;
  margin-bottom: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.card .card-body .card__link {
  color: #0F4D58;
  text-decoration: underline;
}

.footer {
  overflow: hidden;
  background: #EFEFEF;
  padding-bottom: 60px;
}
.footer__content__container {
  width: 100%;
}

.footer-content__menu__wrapper {
  background: #FFD00D;
  padding-left: 83px;
  position: relative;
}
.footer-content__menu__wrapper::before {
  content: "";
  position: absolute;
  top: 0px;
  right: -755px;
  background: #FFD00D;
  width: 755px;
  height: 71px;
}
.footer-content__menu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-content__menu__list {
  width: 45%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-content__menu__list a {
  color: inherit;
  font-size: 15px;
}
.footer-content-social {
  width: 234px;
}
.footer-content__copyright__container {
  padding-left: 95px;
  margin-top: 30px;
  font-size: 14px;
}