@import "../node_modules/bootstrap/scss/functions";
@import '../node_modules/bootstrap/scss/variables';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

//colors
$custom-black: #333333;
$custom-yellow: #FFD00D;
$custom-blue: #2ADDFD;
$custom-green: #96DD39;
$custom-red: #F75555;


$font-family-base: 'Inter', sans-serif;
$font-family-monospace: 'Inter', sans-serif;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 930px,
  xl: 1140px,
  xxl: 1326px
);

body{
    font-family: 'Inter', sans-serif;
    color: $custom-black;
    a:hover{
        color: #333;
    }
    .nav-link{
        &:hover{
            color: #333;
        }
    }

    &._lock{
        overflow: hidden;
    }
}

._container{
    max-width: 90%;
    margin: auto;
}

.logo__wrapper {
    padding: 0;
}
.logo{
    width: 225px;
    height: auto;
}
._btn-default{
    background: rgba(51, 51, 51, 0.82);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    border: 0px;
    border-radius: 0;
}

._scroll-to-top{
    color: #333;
    position: fixed;
    right: 3.5%;
    bottom: -100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0;
    background: transparent;
    width: unset;
    transition: all 0.3s ease;

    

    &._scroll-appear{
        bottom: 0%;
    }

    svg{
    }
    p{
        transition: all 0.3s ease;
        margin-top: 10px;
        padding: 3px 12px;
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.73);
    }

    

    @media (max-width: 1024px){}
    @media (max-width: 587px){
        transform: translate(50%, 0);
        width: 160px;
        right: 50%;
        background: #fff;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        
        p{
            margin: 0;
            padding: 8px 12px;
            border-radius: 0px;
            background: transparent;
            text-decoration: underline;
        }

        svg{
            display: none;
        }
    }
}

//HEADER------------------------------------------------------

.header {
    transition: all 0.3s ease;
    &._header__scroll{
        transition: all 0.3s ease;
        top: -50%;
    }

    background: rgb(255, 255, 255);
    padding: 20px 0 0px 0;
    &__content{
        
    }

    &__navbar {
        padding: 0;

        a{
            color: inherit;
        }
    }
    &__logo__btn__wrapper {
        margin-bottom: 20px;
    }
    &__btn {
    }
}

.btn__burger {

    &__burger__label {
    }
}

.menu__wrapper {
}
.menu__sub {
    padding: 0;
    background: #fff;
    &__item{
        margin: 0 0 18px 0;
    }
}
.menu__main {
    background: $custom-yellow;
    padding: 0px 0 0px 66px;

    &__item{
        margin: 18px 0;
    }
}

.search-form {
    &__wrapper{
        
        width: 100%;
    }
    &__btn {
        width: 100%;
        height: 100%;
    }
    &__input {
        background: #EFEFEF;
        border-radius: 0;
        font-size: 22px;
        padding-bottom: 1px;

        &::placeholder{
            //color: #000;
        }
        &:focus{
            background: #EFEFEF;
            border-color: rgb(51, 51, 51);
            box-shadow: 0 0 0 0.2rem rgba(51, 51, 51, 0.25)
        }
    }
    
}



//MAIN-SECTION--------------------------------------------------------------
.main {
    height: 735px;
    padding: 75px 0 27px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url(../assets/labels/logo-phoenix.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;



    &__content {
    }
    &__picture__container {
    }
    &__info__container { //main__about__us__wrapper
        //margin: auto;
    }
}


.accordion-pictures {
    .accordion-item.show{
        height: 100%;
        transition: all .3s ease;
        .accordion-collapse.show{
            height: 100%;
            transition: all .3s ease;
            .accordion-body{
                height: 100%;
                transition: all .3s ease;
                .accordion-pictures__wrapper{
                    height: 100%;
                    transition: all .3s ease;
                }
            }
        }
    }


    &__wrapper {  //main__img__wrapper
        width: 100%;
        //padding-bottom: 324px;
        position: relative;
        z-index: 1;
    }
    &__img {  //main__img
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.coupleOne {
}
.coupleTwo {
}
.coupleThree {
}
.coupleFour {
}


.accordion-info { //accordion-about-us
    &__link{
        color: rgba(51, 51, 51, 0.82);
        font-size: 19px;
    }
    .accordion-item{
        .accordion-body{
            padding-bottom: 40px;

            p{
                margin-bottom: 40px;
            }
        }
        &:nth-child(1){
            background: $custom-blue;
        }
        &:nth-child(2){
            background: $custom-green;
        }
        &:nth-child(3){
            background: $custom-red;
        }
        &:nth-child(4){
            background: $custom-yellow;
        }
    }


    &__header {  //accordion-header(bootstraps class)
        padding: 1rem 1.25rem;
        cursor: pointer;
    }
    &__open__btn {
        width: 70px;
        background: transparent;
        display: block;
        border: none;
        pointer-events: none;

        &.accordion-button:not(.collapsed){
            background-color: transparent;
        }

        &::after{
            display: none;
        }
        &:focus{
            outline: none;
            box-shadow: none;
        }
        &[aria-expanded="true"]{
            background: transparent;
            border: 0;
            box-shadow: none;
            display: none;
            
        }
    }
    &__title__btn{
        width: unset;
        font-size: 22px;
        font-weight: bold;
        color: rgba(51, 51, 51, 0.829);
        transition: all 0.3s ease;
        background: transparent;
        padding: 0;
        pointer-events: none;

        &::after{
            display: none;
        }
        &:focus{
            outline: none;
            box-shadow: none;
        }
        &[aria-expanded="false"]{
            color: rgba(51, 51, 51, 0.829);
            background: transparent;
            box-shadow: none;
        }
        &[aria-expanded="true"]{
            color: rgba(51, 51, 51, 0.829);
            background: transparent;
            border: 0;
            box-shadow: none;
            font-size: 48px;
            width: 100%;
            border-top: 3px solid rgba(51, 51, 51, 0.82);
            padding-top: 38px;
            margin-top: 34px;
            
            
        }
    }
    &__body__btn {
        padding: 1rem 1.5rem;
    }
}

//WORKFORCE
.workforce{
    padding: 75px 0 75px 0;
    height: 670px;
    .accordion-info__btn__container{
        width: 100%;
    }
    .accordion-pictures {
        &__wrapper {  //main__img__wrapper
            width: 100%;
            /* padding-bottom: 324px; */
            position: relative;
            z-index: 1;
        }
        &__img {  //main__img
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

//WHY-SECTION-------------------------------------------
.why {
    padding: 65px 0;
    position: relative;
    z-index: 2;
    background: url('../assets/img/why-bg.png') 0 0/auto 100% no-repeat;
    .why-content{

    }
    &__picture__container {
        position: relative;
    }
    &__picture {
        max-width: 255px;
        svg{
            width: 100%;
            height: auto;
        }
    }
    /* &__bg {
        
        img{
            position: absolute;

            top: 0;
            left: 0;
            width: 42.36%;
            object-fit: cover;
            //width: 100%;
            height: 100%;
            z-index: -1;
        }
    } */
    &__text__wrapper {
    }
    &__main__text {
        padding-bottom: 7px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        &:after{
            content: '';
            display: block;
            width: 87px;
            height: 2px;
            background: #EFEFEF;
            margin-top: 15px;
        }
    }
    &__subtitle {
    }
}

//COLORED-SECTIONS********************************************************
.designed-for-work{
    background: $custom-red;
}
.growing-for-good{
    background: $custom-green;
    overflow: hidden;
    .colored {

        &__center__block{
            top: 50%;
            left: 50.5%;
        }
        &__center__title{
            font-size: 100px;
        }
        &__img__wrapper {
            transform: translate(100%, 0);
            flex: 0 0 50%;
            //flex: 0 0 calc((100vw *0.5));
        }
        &__content {
            width: 50%;
            margin-left: auto;
        }
        &__content__wrapper{
            width: 69.3%;
            margin-left: auto;
        }
        &__title{
            color: #344D14;
        }
        &__looking__for {
            background: transparent;
            border: 0;
            font-size: 19px;
            color: #344D14;
        }
    }

}
.colored {
    
    &__center__block{
        z-index: 3;
        top: 50%;
        left: 51.5%;
        width: 255px;
        height: 255px;
        background: $custom-blue;
        transform: translate(-50%, -50%);
        color: #0F4D58;
    }
    &__center__title{
        font-size: 110px;
    }
    &__center__subtitle{
        font-size: 32px;
    }


    &__wrapper {
        flex: 0 0 100%;
    }
    &__content {
        width: 50%;

    }
    &__content__wrapper{
        width: 69.3%;
    }

    &__title {
        font-size: 48px;
        color: #561E1E;

    }
    &__text {
        font-size: 19px;
    }
    &__btns__container{
        align-items: center;
    }
    &__btn {
        padding: 0.75rem 1.25rem;
    }
    &__looking__for {
        background: transparent;
        border: 0;
        font-size: 19px;
        color: #561E1E;
    }
    &__img__wrapper {
        transform: translate(-100%, 0);
        padding-bottom: 549px;
        flex: 0 0 calc((100vw *0.5));
    }
    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0%;
        right: 0%;
    }
}


//ANNOUNCEMENTS---------------------------------------------------
.announcements {
    margin: 27px 0 44px 0;
}
.announcements-content {
    &__title {
        text-align: center;
    }
    &__slider__container {
        
    }
    &__label__list {
        justify-content: center;
    }
    &__label {
        max-width: 127px;
        margin: 0px 10px 20px 10px;
       

        &:last-child{
            margin: 0px;
        }
        img{
            width: 100%;
            height: auto;
        }
    }
}
.carousel-announcements{
    
    &__item {
        margin-bottom: 20px;
        .card{
            border: none;
            margin: 0.5rem;
            background: #EFEFEF;
            font-size: 16px;
            padding: 0.5rem;
            border-radius: 0%;
            height: 100%;
        }
    }
    &__title {
        color: #333;
        font-size: 16px;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    &__text {
        color: #000;
        margin-bottom: 1.5rem;
    }
    &__links__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 1.5rem;
    }
    &__link {
        color: #0F4D58;
        text-decoration: underline;
    }


    &__indicator__container {
        width: 86px !important;
        margin: 0 auto 50px auto !important;
        justify-content: space-between !important;
    }
    &__indicator {
        width: 16px !important;
        height: 16px !important;
        border-radius: 50% !important;
        border: none !important;
        background: #999999 !important;
        transition: all 0.3s ease !important;
        opacity: 1 !important;

        &.active{
            background: #F75555 !important;
        }
    }
}

.carousel-indicators li{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #999999;
    background-color: #999999;
    border: 0px solid #fff;
    border-radius: 10px;
    margin: 2px;
    position: relative;
    top: 45px;
    
    &.active{
    background: #F75555;
    
  }
}

//PHX-------------------------------------------------------------
.phx {
    margin: 55px 0;
}
.phx-content {
    &__media__container {
        margin-bottom: 25px;
    }
    &__video {
        
        iframe{
            width: 100%;
            height: 250px;
        }
    }
    &__media__info {
        background: $custom-yellow;
        text-align: center;
        color: #594D0E;
        font-weight: bold;
        padding: 30px 60px;
        transform: translate(0px, -6px);
    }
    &__big__subtitle{
        font-size: 48px;
    }
    &__small__subtitle{
        font-size: 18px;
    }



    &__text__container {
    }
    &__title {
        font-size: 32px;
        margin-bottom: 25px;
    }
    &__text {
        font-size: 16px;
        margin-bottom: 35px;
    }
    &__btn {
        background: #333;
        padding: 0.5rem 1rem;
        min-width: 146px;   
    }
}


//NEWS------------------------------------------------------------
.news {
    //margin: 64px 0 40px 0;
    padding: 80px 0 40px;
    position: relative;
    z-index: 2;
    background-color: #fff;
}
.news-content {
    
    &__header {
        margin-bottom: 30px;
    }
    &__title {
        font-size: 32px;
        margin-bottom: 1rem;
    }
    &__btn{
        min-width: 146px;
        background: #333;
        padding: 0.5rem 1rem;;
    }
    &__cards__list {
        
    }
}

.card {
    border: none;
    margin: 0.25rem 0.25rem 30px 0.25rem;
    background: #EFEFEF;
    font-size: 16px;
    border-radius: 0%;

    &:last-child{
        margin-bottom: 0;
    }
    .card__img {
        width: 100%;
        height: 166px;
        object-fit: cover;
        margin-bottom: 30px;
    }
    .card-body {
        padding: 0 1rem 1.5rem 1rem;
        display: flex;
        flex-direction: column;
        .card-title {
            font-size: 19px;
            margin-bottom: 15px;
        }
        .card-text {
            color: #000;
            margin-bottom: 30px;
            flex: 1 0 auto;
        }
        .card__link {
            color: #0F4D58;
            text-decoration: underline;
        }
    }
    
}


//FOOTER-------------------------------------------------------------------------------
.footer {
    overflow: hidden;
    background: #EFEFEF;
    padding-bottom: 60px;
    .footer__navbar {
    }
    .footer__logo__container {
    }
    .footer__logo__wrapper {
    }
}

.logo__wrapper {
}
.logo {
}

.footer__content__container{
    width: 100%;
}

.footer-content {
    &__menu__wrapper {
        background: $custom-yellow;
        padding-left: 83px;
        position: relative;

        &::before{
            content: '';
            position: absolute;
            top: 0px;
            right: -755px;
            background: $custom-yellow;
            width: 755px;
            height: 71px;
        }
    }
    &__menu {
        justify-content: space-between;
    }
    .navbar-nav{
    }
    &__menu__list{
        width: 45%;
        justify-content: space-between;
        .nav-item{
        }

        a{
            color: inherit;
            font-size: 15px;
        }
    }

    &__social__wrapper{

    }
    &-social {
        width: 234px;
        &__item {
        }
    }

    &__copyright__container {
        padding-left: 95px;
        margin-top: 30px;
        font-size: 14px;
    }
}
